<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cloud.oauth2.mapper.SchoolMapper">

    <insert id="saveBatch">
        INSERT INTO school(school_name,school_code) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.schoolName},#{item.schoolCode})
        </foreach>
    </insert>

</mapper>